PROMPT='> '
RPROMPT=''

_osc7_report() {
  if [[ -n "$TMUX" ]]; then
    printf "\033Ptmux;\033\033]7;file://%s%s\007\033\\" "${HOST:-localhost}" "$PWD"
  else
    printf "\033]7;file://%s%s\033\\" "${HOST:-localhost}" "$PWD"
  fi
}

precmd() {
  _osc7_report
  [[ -n "$TMUX" ]] && tmux rename-window "$(basename "$PWD")" 2>/dev/null
}
preexec() {
  [[ -n "$TMUX" ]] && tmux rename-window "${${1%% *}##*/}" 2>/dev/null
}

[ -f /root/.roost/bin/roost-wrap ] && source /root/.roost/bin/roost-wrap
[ -f /root/.roost/config/zshrc.local ] && source /root/.roost/config/zshrc.local
